node_modules
.expo
dist-export-test
dist-export-*
**/dist-export-*
.eas-inspect-archive
ios
android
android/.gradle
android/build
android/app/build
android/app/.cxx
android/local.properties
*.log
.env
.env.*
!.env.example
.env.local
